.App {
  text-align: center;
}

.App-logo {
  height: 40min;
}

.App-header {
  color: white;
}

.Body {
  background: #F9F7F4;
  height: 1000px;
  width: 68%;
  margin: 0 auto;
  border-top-width: 0.0625rem;
  border-top-style: solid;
  border-top-color: rgb(209, 201, 192);

}

.App-link {
  color: #09d3ac;
}
